<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.biz.rocketmq.mapper.MessageMapper">

    <resultMap id="message" type="com.zjht.biz.rocketmq.entity.MqMessage">
        <result property="id" column="ID"/>
        <result property="topic" column="TOPIC"/>
        <result property="keys" column="KEYS"/>
        <result property="tags" column="TAGS"/>
        <result property="message" column="MESSAGE"/>
        <result property="status" column="STATUS"/>
        <result property="msgId" column="MSG_ID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="consumerNum" column="CONSUMER_NUM"/>
        <result property="uuid" column="UUID"/>
    </resultMap>

    <insert id="save" parameterType="com.zjht.biz.rocketmq.entity.MqMessage">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select T_MQ_MESSAGE_SEQ.nextVal from dual
        </selectKey>
        INSERT INTO T_MQ_MESSAGE (ID, TOPIC,KEYS,TAGS,MESSAGE,STATUS,
        MSG_ID,CREATE_TIME,UPDATE_TIME,CONSUMER_NUM,uuid)
        VALUES (#{id, jdbcType=NUMERIC}, #{topic, jdbcType=VARCHAR},#{keys,jdbcType=VARCHAR},
        #{tags,jdbcType=VARCHAR},#{message,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{msgId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{consumerNum, jdbcType=NUMERIC},
        #{uuid, jdbcType=VARCHAR})
    </insert>

    <select id="findById" resultMap="message" useCache="false">
		SELECT * FROM T_MQ_MESSAGE WHERE ID = #{id,jdbcType=NUMERIC}
	</select>

    <select id="findMsg" resultMap="message" useCache="false">
        SELECT * FROM T_MQ_MESSAGE WHERE KEYS = #{keys,jdbcType=VARCHAR} AND TOPIC = #{topic, jdbcType=VARCHAR} AND TAGS = #{tags,jdbcType=VARCHAR}
    </select>

    <select id="find" resultMap="message" useCache="false">
        SELECT * FROM T_MQ_MESSAGE T
        <where>
            <if test="null != keys and ''!= keys">
                AND T.KEYS = #{keys, jdbcType=VARCHAR}
            </if>
            <if test="null != topic and '' != topic">
                AND T.TOPIC = #{topic, jdbcType=VARCHAR}
            </if>
            <if test="null != tags and '' != tags">
                AND T.TAGS = #{tags, jdbcType=VARCHAR}
            </if>
            <if test="null != status and '' != status">
                AND T.STATUS = #{status, jdbcType=VARCHAR}
            </if>
            <if test="null != createTimeBegin and '' != createTimeBegin">
                AND T.CREATE_TIME <![CDATA[>=]]>
                TO_DATE(#{createTimeBegin, jdbcType=VARCHAR},'yyyy-mm-dd
                hh24:mi:ss')
            </if>
            <if test="null != createTimeEnd and '' != createTimeEnd">
                AND T.CREATE_TIME <![CDATA[<]]>
                trunc(TO_DATE(#{createTimeEnd, jdbcType=VARCHAR},'yyyy-mm-dd') + 1,'dd')
            </if>
        </where>
        ORDER BY T.CREATE_TIME DESC
    </select>
    <!--状态为3表示已消费则不需要更新此消息-->
    <update id="update" parameterType="com.zjht.biz.rocketmq.entity.MqMessage">
        UPDATE T_MQ_MESSAGE
        <set>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="msgId != null">
                MSG_ID = #{msgId,jdbcType=VARCHAR},
            </if>
            UPDATE_TIME = #{updateTime}
        </set>
        where ID = #{id,jdbcType=NUMERIC} AND STATUS <![CDATA[<>]]>'3'
    </update>
    <update id="updateByUuid">
        UPDATE T_MQ_MESSAGE
        <set>
            <if test="msgId != null">
                MSG_ID = #{msgId,jdbcType=VARCHAR},
            </if>
            STATUS = #{status},
            CONSUMER_NUM = CONSUMER_NUM+1,
            UPDATE_TIME = #{updateTime}
        </set>
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from T_MQ_MESSAGE where ID = #{id}
    </delete>

    <delete id="deleteOne" parameterType="com.zjht.biz.rocketmq.entity.MqMessage">
        DELETE from T_MQ_MESSAGE where ID = #{id}
    </delete>
</mapper>